*{
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    background: 
    linear-gradient(
        #0b001c, 
        #100121,
        #0c011a
        );
    color:#fff;
    height: 100vh;
    font-family: system-ui, -apple-system, sans-serif;
    padding-top: 10px;
    box-sizing: border-box;
}

/*=============================== navbar ===============================*/
header {
    position: fixed;
    top: 15px;
    left: 1px;
    right: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background: #15013488;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    z-index: 1000;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 20px;
}
header .logo span{
    color: chocolate;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
header ul li a{
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s;

}
header ul li a:hover, .active{
    color: chocolate;
    transform: scale(1.2);
    border-bottom: 1.2px solid chocolate;
}

/*=============================== home page ===============================*/
.ihome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  40px 80px;
    border-bottom: 3px solid chocolate;
}
.ihome .hero h1{
    font-size: 75px;

}
.ihome .hero p{
    font-size: 25px;
    color: chocolate;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.ihome .hero .description{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.ihome .hero .description .nodejs{
    color: burlywood;
}
.ihome .hero .buttons a{
    display: inline-block;
    background-image: linear-gradient(
        to top,
        #330b02b2 0%,
        #260d4b 100%
    );
    padding: 4px 6px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid chocolate;
    color: #fff;
    transition: .5s;
    font-weight: 600;
    font-style: italic;
    
}
.ihome .hero .buttons a:hover{
    background: #330b02b2;
    scale: 1.1;
}
.pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    padding-top: 30px;
}
.pic::before {
    /* circle bottom */
    content: "";
    position: absolute;

    width: 400px;
    height: 400px;

    border-radius: 50%;
    background: chocolate;
     transform: translateX(20px);

    box-shadow: 0 -19px 80px #d2691e80;

    z-index: -1;
}
.photo-wrapper .photo {
    width: 100%;
    max-width: 490px;
}

/*=============================== skills page ===============================*/
.iskills, .iprojects, .iabout, .icontact{
    min-height: 100vh;
    padding: 100px 40px;
    box-sizing: border-box;
}
.title {
    text-align: center;
    margin-bottom: 60px;
}
.title p {
    color: chocolate;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}
.title h2 {
    font-size: 45px;
}
.skillsCategory {
    max-width: 1100px;
    margin: 0 auto 60px;
}
.skillsCategory h3 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #fff;

    border-left: 4px solid chocolate;
    padding-left: 12px;
}
.skillsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.skillCard {
    padding: 25px;
    background: linear-gradient(
        145deg,
        #18052f,
        #0e011c
    );
    border: 1px solid #d2691e59;
    border-radius: 15px;
    transition: 0.3s;
}
.skillCard:hover {
    transform: translateY(-7px);
    border-color: chocolate;
    box-shadow: 0 10px 30px #d2691e26;
}
.skillCard h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: chocolate;
}
.skillCard p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #bdb7c7;
    font-size: 15px;
    line-height: 1.6;
}

/*=============================== projects page ===============================*/
.projectsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 98%;
    align-items: center;
}
.projectCard {
    background: #090114;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;
    transition: 0.3s ease;
}
.projectCard:hover {
    transform: translateY(-7px);
    border-color: chocolate;
    box-shadow: 0 10px 40px #d2691e26;
}
.projectImage{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid chocolate;
    overflow: hidden;
}
.projectImage img, .projectImage video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.projectContent{
    padding: 10px;
}
.projectContent .projectType{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: chocolate;
    margin: 10px;
    padding: 5px;
    letter-spacing: 1px;
}
.projectContent h3{
    padding: 2px 4px;
    border-left: 3px solid chocolate;
}
.projectContent p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #bdb7c7;
    line-height: 1.6;
    margin: 10px;
}
.techStack{
    color: chocolate;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 20px 0;
}
.techStack span{
    padding: 6px 12px;
    border: 1.1px solid chocolate;
    border-radius: 6px;
    font-size: 13px;
    font-weight: bolder;
    transition: .5s;
    cursor: pointer;
}
.techStack span:hover{
    transform: translateY(-5px);
    color: #fff;
    border: 1.1px solid #fff;
}
.projectLinks{
    color: chocolate;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
}
.projectLinks a{
    padding: 6px 18px;
    border: 1.1px solid #fff;
    border-radius: 20px;
    font-size: 13px;
    transition: .5s;
    font-style: italic;
    background-image: linear-gradient(
        to top,
        #330b02b2 0%,
        #260d4b 100%
    );
}
.projectLinks a:hover{
    color: #fff;
    background: #330b02b2;
    border: 1.1px solid #fff;
    scale: 1.1;
}
.comingSoon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: chocolate;
    cursor: wait;
}
.comingSoon span{
    font-size: 22px;
    font-weight: 600;
    color: #090114;
    /* font-weight: 600px; */
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*=============================== about page ===============================*/
.aboutContent{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 50px;
    align-items: center;
}
.aboutText{
    background: linear-gradient(
        145deg,
        #18052f,
        #0e011c
    );
    border: 1px solid #d2691e59; 
    border-radius: 15px;
    padding: 30px;
}
.aboutText h3{
    font-size: 30px;
    color: chocolate;
    margin-bottom: 20px;
}
.aboutText p{
    color: #bdb7c7;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
}
.aboutInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.infoCard{
    padding: 22px;
    background: linear-gradient(
        145deg,
        #18052f,
        #0e011c
    );
    border: 1px solid #d2691e59;
    border-radius: 15px;
    transition: .3s;
}
.infoCard:hover{
    transform: translateY(-7px);
    border-color: chocolate;
    box-shadow: 0 10px 30px #d2691e26;
}
.infoCard span{
    display: block;
    color: chocolate;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 8px;
}
.infoCard h4{
    font-size: 18px;
    color: #fff;
}

/*=============================== contact page ===============================*/
.contactContent{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 60px;
}
.contactForm{
    background: linear-gradient(
        145deg,
        #18052f,
        #0e011c
    );
    border: 1px solid #d2691e59;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.contactForm h3{
    color: chocolate;
}
.contactForm h3,
.findMe h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.contactDescription,
.findMe p{
    color: #bdb7c7;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 25px;
}
.inputGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.contactForm input,
.contactForm textarea,
.contactForm select{
    width: 100%;
    box-sizing: border-box;
    background: #12101c;
    color: #fff;
    border: 1px solid #ffffff12;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    font-family: inherit;
    outline: none;
    transition: .4s;
}
.contactForm input{
    height: 40px;
}
.contactForm select{
    height: 48px;
    font-size: 13px;
}
.contactForm textarea{
    height: 120px;
    resize: vertical;
    margin-top: 15px;
}
.contactForm select{
    margin-top: 15px;
    cursor: pointer;
}
.contactForm input::placeholder,
.contactForm textarea::placeholder{
    color: #777582;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactForm input:focus,
.contactForm textarea:focus,
.contactForm select:focus{
    border-color: chocolate;
    box-shadow: 0 0 0 2px #d2691e18;
}
.contactForm button{
    width: 100%;
    height: 48px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(
        to right,
        #6412d8,
        #286df5
    );
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    transition: .4s;
}
.contactForm button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 30px #286df540;
}
.findMe{
    padding: 20px 0;
}
.socialLinks{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.socialLinks a{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #12101c;
    border: 1px solid #ffffff15;
    border-radius: 12px;
    color: #bdb7c7;
    font-size: 27px;
    transition: .4s;
}
.socialLinks a:hover{
    color: chocolate;
    border-color: chocolate;
    transform: translateY(-6px);
    box-shadow: 0 10px 25px #d2691e26;
}
.contactNote{
    margin-top: 45px;
    padding-left: 15px;
    border-left: 3px solid chocolate;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactNote span:first-child{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.contactNote span:last-child{
    color: chocolate;
    font-size: 20px;
    font-weight: 600;
}
/*=============================== footer ===============================*/
footer{
    margin-bottom: -85px;
    height: 10px;
    padding: 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border-top: 3px solid #ffffff0d;
    color: #777582;
    font-size: 15px;
    text-align: center;
}

/*=============================== back to top ===============================*/
#backToTop {
    position: fixed;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;

    border: 1px solid chocolate;
    border-radius: 50%;
    background: #150134;
    color: chocolate;

    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.4s;
    z-index: 999;   
}
#backToTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
#backToTop:hover {
    background: chocolate;
    color: #150134;
    transform: translateY(-5px);
}



/* ===================== Mobile ===================== */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    /* navbar */
    header {
        left: 8px;
        right: 8px;
        top: 8px;
        padding: 10px 5px;
        flex-direction: column; 
        gap: 10px;
    }
    header .logo {
        font-size: 24px;
        padding-left: 0;
    }
    header ul {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: nowrap; 
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
    }
    header ul li {
        margin: 0; 
        padding: 0;
    }
    header ul li:last-child {
        display: none; 
    }
    header ul li a {
        font-size: 13px;
        padding: 5px 4px; 
        white-space: nowrap; 
    }

    .iskills, .iprojects, .iabout, .icontact {
        padding: 80px 20px; 
    }

    /* Home Section */
    .ihome {
        height: auto;
        margin: 120px 20px 0;
        flex-direction: column;
        text-align: center;
        gap: 35px;
    }
    .ihome .hero {
        width: 100%;
    }
    .ihome .hero h1 {
        font-size: 30px !important;
    }
    .ihome .hero p {
        font-size: 15px !important;
    }
    .ihome .hero .description {
        font-size: 16px;
        line-height: 1.6;
    }
    .ihome .hero .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .pic {
        width: 100%; 
        max-width: 300px; 
        margin: 0 auto;
        padding-top: 10px;
    }
    .pic::before {
        width: 280px; 
        height: 280px;
        min-width: unset;
        min-height: unset;
        transform: translateX(0); 
    }
    .photo-wrapper .photo {
        width: 100%;
        min-width: unset; 
    }


    .skillsContainer {
        grid-template-columns: 1fr;
    }
    .projectsGrid {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    .aboutContent {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .aboutInfo {
        grid-template-columns: 1fr;
    }
    .contactContent {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    /* Contact Section */
    .icontact {
        height: auto;
        flex-direction: column;
        gap: 35px;
    }
    .inputGroup {
        grid-template-columns: 1fr; 
    }
    footer{
       
        font-size: 10px;
    }
}

/* ===================== Tablets ===================== */
@media (max-width: 1024px) {

    header {
        left: 15px;
        right: 15px;
        padding: 8px 15px;
    }
    header .logo {
        font-size: 25px;
        padding-left: 5px;
    }
    header ul li {
        margin-right: 10px;
    }
    header ul li a {
        font-size: 16px;
        padding: 5px 8px;
    }

    /* Home */
    .ihome {
        margin: 100px 25px 0;
        gap: 30px;
    }
    .ihome .hero {
        flex: 1;
    }
    .ihome .hero h1 {
        font-size: 55px;
    }
    .ihome .hero p {
        font-size: 21px;
    }
    .ihome .hero .description {
        font-size: 19px;
    }
    .pic {
        width: 420px;
        min-width: 350px;
    }
    .pic::before {
        width: 300px;
        height: 300px;
    }


    /* Skills */
    .iskills,
    .iprojects,
    .iabout,
    .icontact {
        padding: 90px 25px;
    }
    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Projects */
    .projectsGrid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* About */
    .aboutContent {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /* Contact */
    .contactContent {
        grid-template-columns: 1fr;
        gap: 30px;
    }
} 
